%btn {
  padding: 1em;
  margin: 1em;
  color: $color-dark;
  cursor: pointer;
  border: 1px solid $color-shadow;
  border-radius: $button-border-radius;
  shadow: none;
  font-size: 1em;
  text-align: center;
}
